/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}*/

form>div{
 padding-bottom: 0;
}
.main-content-inner{
 
  padding-bottom: 45px;
}
.footer-content{
 background-color: #F5F5F5;
 width: 100%;
}